* { box-sizing: border-box; }

body {
    background-color: #D8BFD8;
    font-family: Verdana, Arial, sans-serif;
    margin: 0; }


header {
    display: flex;
    flex-direction: column;
    align-items: center;  
}

nav a:link {color: white;}
nav a:visited {color: white;}
nav a:hover{color: #D8BFD8;}

nav li {
    display: inline;
    text-decoration: none;
    padding-top: 20px;
    padding-right: 20px; 
    font-weight: bold;

}

.button{
  background-color: grey; 
  border-radius: 12px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

hr{
    border: 1px solid white;
}
.index-header{
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #c9a0cd;
    border-radius: 12px;
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.index-text{
    height: 350px;
    width: 60%;
    margin: auto;
    padding-top: 50px;
    }

.flex-container{
    height: 350px;
    width: 60%;
    margin: auto;
    padding: 20px;
}

.flex-icons{
    display: flex;
    justify-content: space-around;
}

figcaption {
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
}

figure a:link {opacity: 1.0}
figure a:hover {opacity: 0.5;}

.headerpages{
    margin: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #c9a0cd;
    border-radius: 12px;
    width: 30%;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
   
}

.text1{
    margin: auto;
    height: 80px;
    width: 60%;
    padding-top: 15px;
}

.text2{
    height: 200px;
    width: 60%;
    margin: auto;
    padding-top: 15px;
    
}

caption{
    font-weight: bold;
    color: black;
    padding-bottom: 10px;
}

table{
    margin: auto;
    border: 5px solid #c9a0cd;
    width: 80%;
    border-collapse: collapse;

}
th{
    background-color:#c9a0cd ;
    height: 50px;
    text-align: center;   
}


td{ text-align: center;}

.tdtext{ width: 50%;}

tr{
    height: 85px;
}
tr:nth-of-type(even){background-color: #a2a2a2}

.iconpages{
    padding-top: 70px;
}
    


footer{
    background-color: grey;
    color: white;
    height: 100px;
    text-align: center;
    padding-top: 5px;
}








/* Mobile CSS: START */
@media (max-width: 768px) {
    #mobile {
        display: none; }
    #desktop {
        display: inline; } }