* { box-sizing: border-box; }

/* Mobile CSS: START
@media (max-width: 992px) {
    .flex-div {
        grid-template-columns: repeat(3, 1fr); } }

@media (max-width: 768px) {
    #mobile {
        display: none; }

    #desktop {
        display: inline; }

    .flex-div {
        grid-template-columns: repeat(2, 1fr); }
    
    .quotes-container{
        grid-template-columns: repeat(1, 1fr)}

    .wide { 
      grid-column: 1 / -1;
      width: 100%; } }

@media (max-width: 576px) {
    section {
        display: block; }

    table {
        width: 90%; }

    nav li {
        display: block; } }
*/