* { box-sizing: border-box; }

header, nav, main, img, figure,
section, article, aside, footer {
    display: block; }

html {
    height: 100%;
    background-color: #e6b690; }

#logo {
    width: 100%;
    grid-column: span 3; }

nav.vertical {
    background-color: #3d8ad8;
    line-height: 2.5em; }

nav.vertical a:link {
    color: #faeeda; }

nav.vertical:visited {
    color: #faeeda; }

nav.vertical a:hover {
    background-color: #000000; }

nav.horizontal {
    grid-column: span 4; }

nav.horizontal ul {
   background-color: #121f66;
   font-size: 1em;
   padding: 10px 0;
   text-align: center; }

nav.horizontal li {
   background-color: #121f66;
   font-size: 1em;
   padding: 10px 0;
   text-align: center;
   display: block;
   width: 12.5%;
   float: left; }

nav.horizontal a:link {
    color: #faeeda; }

nav.horizontal:visited {
    color: #faeeda; }

nav.horizontal a:hover {
    background-color: #deb333; }

nav ul {
    list-style: none;
    list-style-image: none; }

nav a {
    text-decoration: none; }

body {
    background-color: #faeeda;
    font-family: Verdana, Arial, sans-serif;
    width: 95%;
    min-width: 640px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    display: grid;
    line-height: 1;
    grid-template-columns: 25% 25% 25% 25%; }

section img {
    width: 50%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto; }

section {
   margin-top: 20px;
   margin-bottom: 20px; }

section p {
    width: 70%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    color: #5f72e8;
    font-size: 1em; }

aside {
    width: 75%;
    padding-bottom: 30px; 
    grid-column: span 2; }

aside p {
    width: 75%;
    margin-left: 5%;
    float: left;
    font-size: 1em;
    color: #797979;
    line-height: 1.2em; }

aside img {
    float: left;
    width: 20%; }

aside:nth-of-type(odd) {
    justify-self:center; }

.td_text {
    width: 50%;
    text-align: justify; }

table.horizontal {
    grid-column: span 4;
    width: 100%;
    margin: auto;
    border: 5px solid #121f66;
    border-collapse: collapse; }

th {
    background-color:#3d8ad8;
    height: 50px;
    text-align: center; }

td {
    text-align: center; }

tr {
    height: 100px; }

tr:nth-of-type(even){ background-color: #3d8ad8; }

footer {
    grid-column: span 4;
    color: #baba9c;
    background-color: #2c5ba9;
    font-size: 1em;
    padding: 10px 0px;
    text-align: center; }

/* Mobile CSS: START */
@media (max-width: 768px) {
    nav.vertical {
        width: 100%;
        text-align: center;
        grid-column: span 3; }

    nav.horizontal {
        font-size: 0.8em;
        grid-column: span 3; }
    
    table.horizontal {
        grid-column: span 3; }
    
    section {
        grid-column: span 3; }

    section img {
        width: 20%; }

    aside {
        margin: auto;
        grid-column: span 3; }

    footer {
        grid-column: span 3; } }