* { box-sizing: border-box; }

/* Mobile CSS: START */
@media only all and (max-width: 768px) {
    #mobile {
        display: inline; }
    #desktop {
        display: none; }
    #hero {
        display: none; }
    .float_left {
        float: none;
        display: none; }
    h1 {
        padding-top: 0.25em;
        padding-left: 1.5em;
        width: 85%;
        font-size: 2em;
        text-align: center; }
    nav a {
        float: left;
        padding: 0.5em;
        margin-left: 0.5em;
        width: 45%;
        min-width: 6em; }
    main {
        padding: 0; }
    footer {
        padding: 0.5em;
        margin: 0; } }
/* Mobile CSS: END */

/* Tablet CSS: START */
@media only screen and (max-width: 1024px) {
    #hero {
        width: 100%;
        height: auto; }
    #wrapper {
        width: 100%;
        min-width: 0;
        padding: 0;
        margin: 0; }
    .clear {
        padding-left: 2em; }
    .float_left {
        margin-left: 2em;
        margin-bottom: 1em; }
    body {
        padding: 0;
        margin: 0; }
    header {
        padding-top: 1px; }
    h1 {
        padding-top: 1em; }
    h2 {
        padding-left: 2em;
        padding-right: 2em; }
    h3 {
        padding-left: 2em;
        padding-right: 2em; }
    p {
        padding-left: 2em;
        padding-right: 2em; }
    dl {
        padding-left: 2em;
        padding-right: 2em; }
    nav {
        float: none;
        width: auto;
        padding-left: 2em; }
    nav a {
        float: left;
        padding: 0.2em;
        margin-left: 0.3em;
        width: 23%; }
    main {
        clear: both;
        padding-top: 2.5em;
        padding-bottom: 2.5em;
        padding-left: 1em;
        padding-right: 1em;
        margin: 0;
        font-size: 90%; }
    main ul {
        margin-left: 2em; } }
/* Tablet CSS: END */

#mobile {
    display: none; }

#desktop {
    display: inline; }

#hero {
    padding-bottom: 1em;
    padding-top: 1em; }

#wrapper {
    background-color: #F5F5F5;
    min-width: 1200px;
    max-width: 1480px;
    margin-left: auto;
    margin-right: auto;
    width: 80%; }

.clear {
    clear: both; }

.studio {
    font-style: italic; }

.float_left {
    float: left;
    margin-right: 4em;
    margin-bottom: 1em; }

.one_half {
    float: left;
    padding-left: 2em;
    padding-right: 2em;
    width: 50%; }

.one_third {
    float: left;
    padding-left: 2em;
    padding-right: 2em;
    width: 33%; }

body {
    background-color:#3F2860;
    color:#40407A;
    font-family: Verdana, Arial, sans-serif; }

header {
    background-color: #80CBC4;
    background-image: url(images/lilyheader.jpg);
    background-repeat: no-repeat;
    background-position: right;
    height: 150px; }

header a {
    text-decoration: none; }

header a:link {
    color: #40407A; }

header a:visited {
    color: #40407A; }

header a:hover {
    color: #FFFFFF; }

h1 {
    padding-top: 50px;
    padding-left: 2em; }

nav {
    float: left;
    font-weight: bold;
    width: 160px;
    padding: 1em; }

nav ul {
    list-style-type: none;
    padding-left: 0; }

nav a {
    display: block;
    text-decoration: none;
    text-align: center;
    border: 3px outset #CCCCCC;
    margin-bottom: 1em;
    padding: 1em; }

nav a:link {
    color: #3F2860; }

nav a:visited {
    color: #497777; }

nav a:hover {
    color: #A26100;
    border: 3px inset #333333; }

main {
    display: block;
    margin-left: 170px;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em; }

footer {
    background-color: #80CBC4;
    font-size: .60em;
    font-style: italic;
    text-align: center;
    padding: 1em; }