* { box-sizing: border-box; }

body {
    background-color:#3F2860;
    color:#40407A;
    font-family: Veranda, Arial, sans-serif; }

#wrapper {
    background-color: #F5F5F5;
    min-width: 1200px;
    max-width: 1480px;
    margin-left: auto;
    margin-right: auto;
    width: 80%; }

header {
    background-color: #80CBC4;
    background-image: url(images/lilyheader.jpg);
    background-repeat: no-repeat;
    background-position: right;
    height: 150px; }

main {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    margin-left: 170px; }

#floatleft {
    float: left;
    margin-right: 4em; }

#clear {
    clear: both; }

h1 {
    padding-top: 50px;
    padding-left: 2em; }

nav {
    float: left;
	width: 160px;
    font-weight: bold;
    padding: 1em; }

nav ul {
    list-style-type: none;
    padding-left: 0px; }

nav a {
    display: block;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 3px solid #CCCCCC;
    padding: 1em;
    margin-bottom: 1em; }

nav a:link {
    color: #3F2860; }

nav a:visited {
    color: #497777; }

nav a:hover {
    color: #A26100;
    border: 3px inset #333333; }

.studio {
    font-style: italic; }

footer {
    background-color: #80CBC4;
    font-size: .60em;
    font-style: italic;
    text-align: center;
    padding: 1em; }

header, nav, main, footer {
    display:block; }